.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.point {
  position: absolute;
  width: 1px;
  height: 1px;
  outline-offset: 2px;
  outline: 2px solid red;
}

.svg {
  width: 100%;
  height: 100%;
}

.svgSlice {
  stroke: white;
  stroke-width: 2;
  stroke-linejoin: round;
  cursor: pointer;
}

.svgText {
  fill: #656565;
  font-family: Roboto, Arial, sans-serif;
  font-size: 11px;
}

.svgTextAll {
  fill: #656565;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
}

.svgTextPercent {
  fill: white;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
